@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animasiya keyframes */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotateIn {
    0% {
        opacity: 0;
        transform: rotateY(90deg) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: rotateY(0) scale(1);
    }
}

.animate-down {
    animation: slideDown 1s ease forwards;
}

.animate-left {
    animation: slideLeft 1s ease forwards;
}

.animate-up {
    animation: slideUp 1s ease forwards;
}

.animate-right {
    animation: slideRight 1s ease forwards;
}

.animate-rotate {
    animation: rotateIn 1s ease forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@import "tailwindcss";

/* Start https://www.cursors-4u.com */
* {
    cursor: url(https://cur.cursors-4u.net/others/oth-6/oth589.cur), auto !important;
}

/* End https://www.cursors-4u.com */

/* End https://www.cursors-4u.com */
.swiper {
    /* ekranın tam eni */
    height: 800px;
    /* istədiyin hündürlük */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    /* slide içində mərkəzləşdirir */
}

.swiper-slide img {
    width: 100%;
    /* ekran eni ilə tam uyğunlaşsın */
    height: 800px;
    /* sabit hündürlük */
    object-fit: cover;
    /* slide tam doldurulsun */
    object-position: center;
    /* üst-alt bərabər kəsilsin */
}

.dark {
    background-color: #111;
}

.darkplus {
    background-color: #222;
}